
.popular-movies-dropdown {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 350px !important;
  color: #000;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 1px solid #cccccc;
}

.popular-movies-dropdown .name-selected {
  width: 100%;
  height: 25px;
  position: relative;
  font-weight: bold;
  border: 1px solid #cccccc;
  background: #cccccc;
  padding: 8px 0 0 10px;
}

.names-list {
  max-height: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #cccccc;
  transition: max-height .7s ease-in-out;
  cursor: pointer;
}

.dropped {
  max-height: 150px;
  overflow: auto;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.popular-movies-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popular-movies-dropdown ul li {
    padding: 5px 0 5px 15px;
}

.popular-movies-dropdown ul li:hover {
    background:#eeeeee;
}
.clearSpan{
  margin-left:310px;
  cursor: pointer;
}
